<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
		<div th:replace="~{fragment :: meta}"></div>
             
		<div th:replace="~{fragment :: styles}"></div>
        
        <title>商品詳細</title>       
    </head>
    <body>
        <div class="exweb-wrapper">
            <!-- ヘッダー -->
			<div th:replace="~{fragment :: header}"></div>
            
            <main>
                <div class="container pt-4 pb-5 exweb-container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-8">

                            <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">                        
                                    <li class="breadcrumb-item"><a th:href="@{/admin/products}">商品一覧</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">商品詳細</li>
                                </ol>
                            </nav> 
                            
                            <h1 class="mb-4 text-center" th:text="${product.name}"></h1>
                            
                            <div class="d-flex justify-content-end align-items-end mb-3">                    
                                <div>
                                    <a th:href="@{/admin/products/{id}/edit(id=${product.id})}">編集</a>                                    
                                </div>
                            </div>                                                 
                            
                            <div class="mb-3">
								
								<img th:if="${product.getImageName()}" th:src="@{/storage/__${product.getImageName()}__}" class="w-100" alt="商品画像">

							 <img th:unless="${product.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">

							</div>
   
                            
                            <div class="container mb-4">
                                <div class="row pb-2 mb-2 border-bottom">
                                    <div class="col-4">
                                        <span class="fw-bold">ID</span>          
                                    </div>                                                  
                
                                    <div class="col">
                                        <span th:text="${product.id}"></span>
                                    </div>
                                </div>
                
                                <div class="row pb-2 mb-2 border-bottom">
                                    <div class="col-4">
                                        <span class="fw-bold">商品名</span>
                                    </div>
                
                                    <div class="col">
                                        <span th:text="${product.name}"></span>
                                    </div>
                                </div>                    
                
                                <div class="row pb-2 mb-2 border-bottom">
                                    <div class="col-4">
                                        <span class="fw-bold">説明</span>
                                    </div>
                
                                    <div class="col">
                                        <span class="exweb-pre-wrap" th:text="${product.description}"></span>
                                    </div>
                                </div>
                
                                <div class="row pb-2 mb-2 border-bottom">
                                    <div class="col-4">
                                        <span class="fw-bold">値段</span>
                                    </div>
                
                                    <div class="col">
                                        <span th:text="${#numbers.formatInteger(product.price, 1, 'COMMA') + '円'}"></span>
                                    </div>
                                </div>                                
                            </div>                                                  
                
                        </div>
                    </div>
                </div>             
            </main>
            
            <!-- フッター -->
			<div th:replace="~{fragment :: footer}"></div>
        </div>    
        
        <!-- Bootstrap -->
		<div th:replace="~{fragment :: scripts}"></div> 
    </body>
</html>